- hosts: jenkins
  become: yes

  tasks:
    - name: Actualizar cache de paquetes
      apt:
        update_cache: yes
      when: ansible_os_family == "Debian"

    - name: Instalar dependencias base
      apt:
        name:
          - apt-transport-https
          - ca-certificates
          - curl
          - gnupg
          - lsb-release
          - python3-pip
        state: present
      when: ansible_os_family == "Debian"

    - name: Configurar repo de Docker
      shell: |
        install -m 0755 -d /etc/apt/keyrings
        curl -fsSL https://download.docker.com/linux/ubuntu/gpg | gpg --dearmor -o /etc/apt/keyrings/docker.gpg
        echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable" > /etc/apt/sources.list.d/docker.list
      args:
        creates: /etc/apt/sources.list.d/docker.list
      when: ansible_os_family == "Debian"

    - name: Instalar Docker
      apt:
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
        state: present
        update_cache: yes
      when: ansible_os_family == "Debian"

    - name: Instalar SDK de Docker para Ansible
      apt:
        name: python3-docker
        state: present
        update_cache: yes
      when: ansible_os_family == "Debian"

    - name: Crear volumen para Jenkins
      file:
        path: /var/jenkins_home
        state: directory
        owner: 1000
        group: 1000
        mode: "0755"

    - name: Desplegar Jenkins LTS
      community.docker.docker_container:
        name: jenkins
        image: jenkins/jenkins:lts
        restart_policy: unless-stopped
        ports:
          - "8080:8080"
          - "50000:50000"
        volumes:
          - /var/jenkins_home:/var/jenkins_home
